<form method=POST action='/recipes'>
  <label for='name'>Recipe Name:</label>
  <input id='recipe_name' type='text' name='name'>

  <label for='ingredients'>Recipe Ingredient:</label>
  <input id='ingredients' type='text' name='ingredients'>

  <label for='cook_time'>Recipe Cook Time:</label>
  <input id='cook_time' type='text' name='cook_time'>

  <input type='submit' value='Submit'>
</form>